// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$darkgray: #333;
$lightgray: #888;
$white: #f2f2f2;
$baseFont: 'Lato';

@mixin headerGradient(){
  background: rgb(69,72,77);
            background: -moz-linear-gradient(top,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%);
            background: -webkit-linear-gradient(top,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
            background: linear-gradient(to bottom,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}
body{
  background:$darkgray;
  color: $white;
  font-size: 1.6rem;
}
h1 {
	font-family: $baseFont;
}

p {
	color: $white;

}

.car {
	margin-bottom: 2rem;
}


/* Top navigation styler */
#main-navigation {
	background-color: $darkgray;
}

/* Dashboard Sidebar styles */
@media (min-width: 768px){
#sidebar-left {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $lightgray;
    /*border-right: 1px solid #eee;*/
    ul{
    	margin-top:1em;
    }
}
}

/*content sidebar styles*/
.public-sidebar {
  min-height:100%;
  /*margin-top:3rem;*/
}

/* Sticky footer styles
-------------------------------------------------- */
#footer {
  width:100%;
  clear:both;
  padding-bottom:2rem;
  background-color: black;
  p {
    color: $white;
  }
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 60px;
  background-color: #f5f5f5;
}


/*.container-fluid{
  margin:0;
  padding:0;
}*/


/*********************************
******* Top navigation  **********
*********************************/
nav.navbar{
  margin-bottom:0;
  background-color: black;
  color: $white;
  a{
    color: $white;
  }
  li:hover{
    background-color: $darkgray;
  }
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #5a0b0e;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #422;
    border-color: $white;
}
.dropdown-menu, .dropdown-menu>li>a 
 {
    color: #c78e8e;
    background-color: $darkgray;
}

/*********************************
********** content ***************
*********************************/
 .content{
  margin-bottom:3rem;
 }

/*********************************
*********  lower content *********
*********************************/
#lower-content {
  background: #666;
  background: url('/img/large-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  margin-top:1rem;
  margin-bottom:2rem;
  
    .lc{
      background-color: black;
      background-color: rgba(0,0,0,0.8);
      padding:2rem;
      margin-top: 4rem;
      margin-bottom: 4rem;
      p{
        color:$white;
        font-size:120%;
        
      }
  }
}

/*******************
***** MODALS *******
*******************/

.modal { 
  p {
    color: $darkgray;
  }
  .modal-header {
    @include headerGradient();
  }
}

/*******************
*****  PANELS ******
*******************/
.panel{
  margin-top:3rem;
  .panel-heading {
    @include headerGradient();
    color: $white;
  }
}

/******************
***** Alerts ******
******************/


.flash, .alert {
  margin-top:3rem;
}

/*****************
***** FORMS ******
*****************/
.login, .register {
  margin-top: 3rem;
}
form label{
    color: $darkgray;
  }
/*
form#edit-user{
  label{
    color: $white;
  }
}*/

/*******************************
* Fix strange bootstrap stuff *
*******************************/

.row {
    margin-right: 0; 
     margin-left: 0; 
}

